<template>
  <n-table size="small" class="w-full" v-if="cartStore.cartLength > 0">
    <tr>
      <th class="p-3" v-for="(name, index) in tableHeadList" :key="index">{{ name }}</th>
    </tr>
    <tr v-for="item in cartStore.cart" :index="item.art">
      <td class="p-3">{{ `${productsStore.getBrandName(item.brand)}  ${item.name}` }}</td>
      <td class="p-3">
        {{
          `${separator.handle(currenciesStore.convert(item.price))} ${
            currenciesStore.currentCurrency === "usd" ? "$" : "₽"
          }`
        }}
      </td>
      <td class="p-3">{{ item.art }}</td>
      <td class="text-center p-3">
        <n-button class="mr-1" size="tiny" @click="cartStore.decreaseQuantity(item)">-</n-button>
        {{ item.quantity }}
        <n-button class="ml-1" size="tiny" @click="cartStore.increaseQuantity(item)">+</n-button>
      </td>
    </tr>
  </n-table>
  <div v-else>Cart is empty</div>
</template>

<script setup lang="ts">
import separator from "../helpers/separator.ts";
import { useCartStore } from "../store/cart.ts";
import { useProductsStore } from "../store/products.ts";
import { useCurrenciesStore } from "../store/currencies.ts";
import { NTable, NButton } from "naive-ui";

const productsStore = useProductsStore();
const currenciesStore = useCurrenciesStore();
const cartStore = useCartStore();

const tableHeadList = ["Name", "Price", "Art", "Quantity"];
</script>

<style scoped></style>
