<template>
  <n-radio-group v-model:value="currenciesStore.currentCurrency" name="currencies">
    <n-radio-button
      v-for="currency in currencies"
      :key="currency.value"
      :value="currency.value"
      :label="currency.label"
    />
  </n-radio-group>
</template>

<script setup lang="ts">
import { useCurrenciesStore } from "../store/currencies.ts";
import { NRadioGroup, NRadioButton } from "naive-ui";

const currenciesStore = useCurrenciesStore();

const currencies = [
  { label: "RUB", value: "rub" },
  { label: "USD", value: "usd" },
];
</script>

<style scoped></style>
