<template>
  <section class="p-3 border-2 rounded-lg">
    <section class="mb-2">
      <currencies-selector />
    </section>
    <section class="mb-2">
      <h2 class="font-semibold mb-1">Brands:</h2>
      <n-checkbox-group v-model:value="filtersStore.filters.brands">
        <n-checkbox
          v-for="brandItem in productsStore.brands"
          :key="brandItem.id"
          :value="brandItem.id"
          :label="brandItem.name"
        />
      </n-checkbox-group>
    </section>
    <section class="mb-2">
      <h2 class="font-semibold mb-1">Years:</h2>
      <n-checkbox-group v-model:value="filtersStore.filters.years">
        <n-checkbox
          v-for="yearItem in filtersStore.yearsList"
          :key="yearItem.year"
          :value="yearItem.year"
          :label="String(yearItem.year)"
        />
      </n-checkbox-group>
    </section>
    <section>
      <h2 class="font-semibold mb-1">Availability:</h2>
      <n-checkbox key="st1" v-model:checked="filtersStore.filters.store1Checked" label="Store1" />
      <n-checkbox key="st2" v-model:checked="filtersStore.filters.store2Checked" label="Store2" />
    </section>
  </section>
</template>

<script setup lang="ts">
import CurrenciesSelector from "./CurrenciesSelector.vue";
import { NCheckboxGroup, NCheckbox } from "naive-ui";
import { useFiltersStore } from "../store/filters.ts";
import { useProductsStore } from "../store/products.ts";

const filtersStore = useFiltersStore();
const productsStore = useProductsStore();
</script>

<style scoped></style>
