<template>
  <section v-if="productsStore.filteredCatalog.length !== 0" class="flex flex-col h-full">
    <h2 class="mb-3">{{ `${productsStore.filteredCatalog.length} results` }}</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 md:grid-cols-3 gap-3 mb-3">
      <div v-for="item in paginatedCatalog" :key="item.art" class="p-3 border-2 rounded-lg">
        <p class="font-semibold">
          {{ `${productsStore.getBrandName(item.brand)}  ${item.name}` }}
        </p>
        <p>{{ item.year }}</p>
        <p class="font-medium">
          {{
            `${separator.handle(currenciesStore.convert(item.price))} ${
              currenciesStore.currentCurrency === "usd" ? "$" : "₽"
            }`
          }}
        </p>
        <p class="text-[gray] mb-3">{{ `Art: ${item.art}` }}</p>
        <n-button strong @click="addToCard(item)">Add to cart</n-button>
      </div>
    </div>
    <div class="mt-auto">
      <n-pagination v-model:page="currentPage" :page-count="totalPages" />
    </div>
  </section>
  <section v-else class="flex justify-center items-center p-3 border-2 rounded-lg h-full">
    <n-empty size="huge" description="Sorry, there is no result" />
  </section>
</template>

<script setup lang="ts">
import { NPagination, NButton, NEmpty, NotificationType, useNotification } from "naive-ui";
import { computed, onMounted, ref, watch } from "vue";
import separator from "../helpers/separator.ts";
import { ICatalog } from "../types";
import { useProductsStore } from "../store/products.ts";
import { useCurrenciesStore } from "../store/currencies.ts";
import { useFiltersStore } from "../store/filters.ts";
import { useCartStore } from "../store/cart.ts";

const notification = useNotification();

const productsStore = useProductsStore();
const currenciesStore = useCurrenciesStore();
const filtersStore = useFiltersStore();
const cartStore = useCartStore();

const currentPage = ref(1);
const perPage = ref(4);

const totalPages = computed(() => {
  return Math.ceil(productsStore.filteredCatalog?.length / perPage.value);
});

const paginatedCatalog = computed<ICatalog[]>(() => {
  const startIndex = (currentPage.value - 1) * perPage.value;
  const endIndex = startIndex + perPage.value;
  return productsStore.filteredCatalog?.slice(startIndex, endIndex) as ICatalog[];
});

const addToCard = (product: ICatalog) => {
  if (product.st1 === 0 && product.st2 === 0) {
    notify("error", "Sorry, this product is available in stores");
    return;
  }
  cartStore.addToCart(product);
  notify("success", "Product added to cart");
};

const notify = (type: NotificationType, message: string) => {
  notification[type]({
    content: message,
    duration: 2500,
    keepAliveOnHover: true,
  });
};

watch(
  () => filtersStore.filters,
  () => {
    currentPage.value = 1;
  },
  { deep: true },
);

onMounted(async () => {
  await productsStore.getBrands();
  await productsStore.getStock();
  await productsStore.getCatalog();
});
</script>

<style scoped></style>
