<template>
  <n-notification-provider>
    <section class="p-4 max-w-[1200px] mx-auto">
      <div class="flex justify-between mb-3">
        <div>
          <n-button class="block sm:hidden" @click="showFiltersModal = true">Filters</n-button>
        </div>
        <div class="cursor-pointer" @click="showCartModal = true">
          <n-badge :value="cartStore.cartLength">
            <n-avatar
              :style="{
                color: '#18a058',
                backgroundColor: '#fff',
              }"
              >Cart</n-avatar
            >
          </n-badge>
        </div>
      </div>
      <n-modal v-model:show="showFiltersModal" :show-icon="false" preset="dialog" title="Filters">
        <Filters />
      </n-modal>
      <n-modal v-model:show="showCartModal" :show-icon="false" preset="dialog" title="Cart">
        <section>
          <CartContent />
        </section>
        <template #action>
          <NButton @click="cartStore.clearCart()">Clear</NButton>
        </template>
      </n-modal>
      <div class="flex gap-x-4">
        <div class="sm:block hidden w-full max-w-[200px]">
          <Filters />
        </div>
        <div class="w-full">
          <Products />
        </div>
      </div>
    </section>
  </n-notification-provider>
</template>

<script setup lang="ts">
import Products from "./components/Products.vue";
import Filters from "./components/Filters.vue";
import { NAvatar, NBadge, NButton, NModal, NNotificationProvider } from "naive-ui";
import { useCartStore } from "./store/cart.ts";
import { ref } from "vue";
import CartContent from "./components/CartContent.vue";

const cartStore = useCartStore();

const showCartModal = ref(false);
const showFiltersModal = ref(false);
</script>

<style scoped></style>
